USE [master]
GO
/****** Object:  Database [PetRescueDB]    Script Date: 7/11/2021 16:49:54 ******/
CREATE DATABASE [PetRescueDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetRescueDB', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PetRescueDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetRescueDB_log', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PetRescueDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetRescueDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetRescueDB]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IdPetType] [int] NULL,
	[IdPetBreed] [int] NULL,
	[Sex] [nvarchar](6) NULL,
	[IdPetSize] [int] NULL,
	[IdPetAge] [int] NULL,
	[Temperament] [nvarchar](1000) NULL,
	[Video] [nvarchar](500) NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetAge]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetAge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgeRange] [nvarchar](50) NULL,
 CONSTRAINT [PK_PetAge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetBreed]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetBreed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_PetBreed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetImage]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [image] NULL,
	[IdPet] [int] NULL,
 CONSTRAINT [PK_PetImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetSize]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [nvarchar](50) NULL,
 CONSTRAINT [PK_PetSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetType]    Script Date: 7/11/2021 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_PetType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pet] ON 

INSERT [dbo].[Pet] ([Id], [Name], [IdPetType], [IdPetBreed], [Sex], [IdPetSize], [IdPetAge], [Temperament], [Video]) VALUES (1, N'Musa', 2, 1, N'Hembra', 2, 3, N'Alegre,Jueguetona', NULL)
INSERT [dbo].[Pet] ([Id], [Name], [IdPetType], [IdPetBreed], [Sex], [IdPetSize], [IdPetAge], [Temperament], [Video]) VALUES (2, N'Marshall', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Pet] ([Id], [Name], [IdPetType], [IdPetBreed], [Sex], [IdPetSize], [IdPetAge], [Temperament], [Video]) VALUES (3, N'Luna', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Pet] OFF
GO
SET IDENTITY_INSERT [dbo].[PetAge] ON 

INSERT [dbo].[PetAge] ([Id], [AgeRange]) VALUES (1, N'cachorro lactante 0 a 2 meses')
INSERT [dbo].[PetAge] ([Id], [AgeRange]) VALUES (2, N'cachorro adolescente 6 a 18 meses')
INSERT [dbo].[PetAge] ([Id], [AgeRange]) VALUES (3, N'adulto 18 meses a 7 años')
SET IDENTITY_INSERT [dbo].[PetAge] OFF
GO
SET IDENTITY_INSERT [dbo].[PetBreed] ON 

INSERT [dbo].[PetBreed] ([Id], [Name]) VALUES (1, N'Mestizo')
SET IDENTITY_INSERT [dbo].[PetBreed] OFF
GO
SET IDENTITY_INSERT [dbo].[PetSize] ON 

INSERT [dbo].[PetSize] ([Id], [Size]) VALUES (1, N'pequeño')
INSERT [dbo].[PetSize] ([Id], [Size]) VALUES (2, N'mediano')
INSERT [dbo].[PetSize] ([Id], [Size]) VALUES (3, N'grande')
SET IDENTITY_INSERT [dbo].[PetSize] OFF
GO
SET IDENTITY_INSERT [dbo].[PetType] ON 

INSERT [dbo].[PetType] ([Id], [Name]) VALUES (1, N'Gato')
INSERT [dbo].[PetType] ([Id], [Name]) VALUES (2, N'Perro')
SET IDENTITY_INSERT [dbo].[PetType] OFF
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_PetAge] FOREIGN KEY([IdPetAge])
REFERENCES [dbo].[PetAge] ([Id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_PetAge]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_PetBreed] FOREIGN KEY([IdPetBreed])
REFERENCES [dbo].[PetBreed] ([Id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_PetBreed]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_PetSize] FOREIGN KEY([IdPetSize])
REFERENCES [dbo].[PetSize] ([Id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_PetSize]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_PetType] FOREIGN KEY([IdPetType])
REFERENCES [dbo].[PetType] ([Id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_PetType]
GO
ALTER TABLE [dbo].[PetImage]  WITH CHECK ADD  CONSTRAINT [FK_PetImage_Pet] FOREIGN KEY([IdPet])
REFERENCES [dbo].[Pet] ([Id])
GO
ALTER TABLE [dbo].[PetImage] CHECK CONSTRAINT [FK_PetImage_Pet]
GO
USE [master]
GO
